*, ::after, ::before { box-sizing: border-box; }

body {
	font-family: sans-serif;
}


.blok {
	padding: 20px;
}

.levy  { background-color: #f1c40f;}
.horni { background-color: #2ecc71;}
.dolni { background-color: #e74c3c;}

/* ------------- pod čáru přijdou tvé styly ------------- */

.kontejner{
	display: flex;
}
.pravy{
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
}
.levy{
	flex-basis: 50%;
}
.horni,
.dolni{
	flex-basis: 50%;
}

	


